.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 100px);
    column-gap: 10px;
    row-gap: 10px;
}

.item {
    border: 1px solid blue; 
    width: 100px;   
    height: 100px;    
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.item img {
    max-height: 100%;
    max-width: 100%;
}
